# API Server Configuration
SECRET_KEY=change_this_to_a_secure_random_string_min_32_chars
ENVIRONMENT=production

# Admin Credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH='$2b$12$bWCV1p2H8m.Y9st3rtVrb.a1OTOY5vya.7AAMUIqsjCNMpDlYU4c6' # admin123

# CORS Configuration
ALLOWED_ORIGINS=http://localhost,https://localhost
